{{! What patials includes is just elements of the page }}

{{! You can add whatever you like to show in different pages }}

<header>
  <h1>{{title}}</h1>

  <a href="/">Weather</a>
  <a href="/about">About</a>
  <a href="/help">help</a>
</header>